<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School management</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
      <main>
        <div class="header">
            <%- include("_header.ejs") %> 
        </div>
        <div class="container">
            <div class="marto">
                
                 <img src="/images/images-2.jpg">
                 <div class="intro">
                 <h2>WElCOME</h2>
                <P>Knowledge is key to success</P>
                <button type="button" id="Btn">Take Admission</button>
            </div>
            </div>
            <div class="users">
                <div class="images">
                    <div class="image-container" id="Admin">
                        <img src="/images/Admin.png">

                        <a href="/Admin">
                         <button type="button" id="btn">Admin</button>
                        </a>
    
              
                    </div>
                    <div class="image-container">
                        <img src="/images/Teacher.jpg">

                        <a href="/Teacher">  
                                          <button type="button" id="btn">Teacher</button>
                        </a>
                    </div>
                    <div class="image-container">
                <img src="/images/Student.jpg">
                <a href="/Student">
                    <button type="button" id="btn">View</button>

                </a>

                </div>
            </div>
            </div>
        </div>
      </main>
    
</body>

</html>
 