<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Management</title>
    <link rel="stylesheet" href="/styles/mojo.css">
</head>
<body>
    <main>
        <div class="header">
            <%- include("_header.ejs") %> 
        </div>  
        <div class="Hello">
      <h1>Hello,Student</h1>
      <p>Welcome to Online School Management System</p>
      <p id="mojo">You can access various Operations after Login/SignUp</p>
     </div>
     <div class="buttons">
   <button class="btn btn-primary">SignUp</button>
   <button class="btn btn-primary">Login</button>

     </div>

    </main>
</body>
</html>